<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Do not rewrite existing files or directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Route all single page app routes to index.html
  RewriteRule ^ index.html [L]
</IfModule>
